USE [TRANSACCIONES_BANCO]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 02/10/2023 22:47:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLI] [uniqueidentifier] NOT NULL,
	[IDENTIFICACION] [varchar](13) NOT NULL,
	[CONTRASENIA] [varchar](16) NOT NULL,
	[ESTADO] [bit] NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_CLI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUENTA]    Script Date: 02/10/2023 22:47:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUENTA](
	[ID_CUE] [uniqueidentifier] NOT NULL,
	[ID_CLI] [uniqueidentifier] NOT NULL,
	[ID_TCU] [char](1) NOT NULL,
	[NUMERO_CUENTA] [varchar](10) NOT NULL,
	[SALDO_INICIAL] [numeric](18, 2) NOT NULL,
	[ESTADO] [bit] NOT NULL,
 CONSTRAINT [PK_CUENTA] PRIMARY KEY CLUSTERED 
(
	[ID_CUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENERO]    Script Date: 02/10/2023 22:47:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENERO](
	[ID_GEN] [char](1) NOT NULL,
	[NOMBRE] [nvarchar](16) NOT NULL,
 CONSTRAINT [PK_GENERO] PRIMARY KEY CLUSTERED 
(
	[ID_GEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MOVIMIENTO]    Script Date: 02/10/2023 22:47:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MOVIMIENTO](
	[ID_MOV] [uniqueidentifier] NOT NULL,
	[ID_CUE] [uniqueidentifier] NOT NULL,
	[ID_TMO] [char](1) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[VALOR] [numeric](12, 2) NOT NULL,
	[SALDO] [numeric](12, 2) NOT NULL,
 CONSTRAINT [PK_MOVIMIENTO] PRIMARY KEY CLUSTERED 
(
	[ID_MOV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 02/10/2023 22:47:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONA](
	[IDENTIFICACION] [varchar](13) NOT NULL,
	[ID_GEN] [char](1) NOT NULL,
	[NOMBRE] [varchar](64) NOT NULL,
	[EDAD] [int] NULL,
	[DIRECCION] [varchar](128) NOT NULL,
	[TELEFONO] [varchar](16) NOT NULL,
 CONSTRAINT [PK_PERSONA] PRIMARY KEY CLUSTERED 
(
	[IDENTIFICACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_CUENTA]    Script Date: 02/10/2023 22:47:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_CUENTA](
	[ID_TCU] [char](1) NOT NULL,
	[NOMBRE] [nvarchar](16) NOT NULL,
 CONSTRAINT [PK_TIPO_CUENTA] PRIMARY KEY CLUSTERED 
(
	[ID_TCU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_MOVIMIENTO]    Script Date: 02/10/2023 22:47:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_MOVIMIENTO](
	[ID_TMO] [char](1) NOT NULL,
	[NOMBRE] [nvarchar](16) NOT NULL,
 CONSTRAINT [PK_TIPO_MOVIMIENTO] PRIMARY KEY CLUSTERED 
(
	[ID_TMO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CLIENTE] ([ID_CLI], [IDENTIFICACION], [CONTRASENIA], [ESTADO]) VALUES (N'e66b3e7a-cf5f-ee11-acde-98fa9b866735', N'1314593672', N'54321', 1)
INSERT [dbo].[CLIENTE] ([ID_CLI], [IDENTIFICACION], [CONTRASENIA], [ESTADO]) VALUES (N'8b169fa5-39ad-4727-bf9e-9bac7fe3b6db', N'1314593673', N'12345', 1)
GO
INSERT [dbo].[CUENTA] ([ID_CUE], [ID_CLI], [ID_TCU], [NUMERO_CUENTA], [SALDO_INICIAL], [ESTADO]) VALUES (N'83bad70a-7205-4595-99ef-a9b6c2ef199d', N'e66b3e7a-cf5f-ee11-acde-98fa9b866735', N'A', N'1111111111', CAST(135.00 AS Numeric(18, 2)), 1)
GO
INSERT [dbo].[GENERO] ([ID_GEN], [NOMBRE]) VALUES (N'F', N'FEMENINO')
INSERT [dbo].[GENERO] ([ID_GEN], [NOMBRE]) VALUES (N'M', N'MASCULINO')
INSERT [dbo].[GENERO] ([ID_GEN], [NOMBRE]) VALUES (N'O', N'OTROS')
GO
INSERT [dbo].[MOVIMIENTO] ([ID_MOV], [ID_CUE], [ID_TMO], [FECHA], [VALOR], [SALDO]) VALUES (N'340cff5f-0ecc-4dcc-a60e-06e888557839', N'83bad70a-7205-4595-99ef-a9b6c2ef199d', N'D', CAST(N'2023-10-01T22:44:31.507' AS DateTime), CAST(15.00 AS Numeric(12, 2)), CAST(105.00 AS Numeric(12, 2)))
INSERT [dbo].[MOVIMIENTO] ([ID_MOV], [ID_CUE], [ID_TMO], [FECHA], [VALOR], [SALDO]) VALUES (N'77df134f-edb0-4101-9d60-11733b3526d9', N'83bad70a-7205-4595-99ef-a9b6c2ef199d', N'R', CAST(N'2023-10-01T22:59:48.623' AS DateTime), CAST(150.00 AS Numeric(12, 2)), CAST(135.00 AS Numeric(12, 2)))
INSERT [dbo].[MOVIMIENTO] ([ID_MOV], [ID_CUE], [ID_TMO], [FECHA], [VALOR], [SALDO]) VALUES (N'ca752090-cbd1-42de-94e3-2032900ec77d', N'83bad70a-7205-4595-99ef-a9b6c2ef199d', N'R', CAST(N'2023-10-01T22:29:24.490' AS DateTime), CAST(20.00 AS Numeric(12, 2)), CAST(180.50 AS Numeric(12, 2)))
GO
INSERT [dbo].[PERSONA] ([IDENTIFICACION], [ID_GEN], [NOMBRE], [EDAD], [DIRECCION], [TELEFONO]) VALUES (N'1314593672', N'M', N'Luis Chichanda', 30, N'La Condamine', N'0980226810')
INSERT [dbo].[PERSONA] ([IDENTIFICACION], [ID_GEN], [NOMBRE], [EDAD], [DIRECCION], [TELEFONO]) VALUES (N'1314593673', N'M', N'Luis Garcia', 28, N'La Condamine', N'0980226811')
GO
INSERT [dbo].[TIPO_CUENTA] ([ID_TCU], [NOMBRE]) VALUES (N'A', N'Ahorro')
INSERT [dbo].[TIPO_CUENTA] ([ID_TCU], [NOMBRE]) VALUES (N'C', N'Corriente')
GO
INSERT [dbo].[TIPO_MOVIMIENTO] ([ID_TMO], [NOMBRE]) VALUES (N'D', N'Deposito')
INSERT [dbo].[TIPO_MOVIMIENTO] ([ID_TMO], [NOMBRE]) VALUES (N'R', N'Retiro')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UNQ_CLIENTE_IDENTIFICACION]    Script Date: 02/10/2023 22:47:10 ******/
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [IX_UNQ_CLIENTE_IDENTIFICACION] UNIQUE NONCLUSTERED 
(
	[IDENTIFICACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UNQ_CUENTA_NUMERO]    Script Date: 02/10/2023 22:47:10 ******/
ALTER TABLE [dbo].[CUENTA] ADD  CONSTRAINT [IX_UNQ_CUENTA_NUMERO] UNIQUE NONCLUSTERED 
(
	[NUMERO_CUENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UNQ_MOVIMIENTO]    Script Date: 02/10/2023 22:47:10 ******/
ALTER TABLE [dbo].[MOVIMIENTO] ADD  CONSTRAINT [IX_UNQ_MOVIMIENTO] UNIQUE NONCLUSTERED 
(
	[FECHA] ASC,
	[ID_TMO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLIENTE] ADD  CONSTRAINT [DF_CLIENTE_CLIENTE_ID]  DEFAULT (newsequentialid()) FOR [ID_CLI]
GO
ALTER TABLE [dbo].[CUENTA] ADD  CONSTRAINT [DF_CUENTA_ID_CUE]  DEFAULT (newsequentialid()) FOR [ID_CUE]
GO
ALTER TABLE [dbo].[MOVIMIENTO] ADD  CONSTRAINT [DF_MOVIMIENTO_ID_MOV]  DEFAULT (newsequentialid()) FOR [ID_MOV]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_PERSONA] FOREIGN KEY([IDENTIFICACION])
REFERENCES [dbo].[PERSONA] ([IDENTIFICACION])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_PERSONA]
GO
ALTER TABLE [dbo].[CUENTA]  WITH CHECK ADD  CONSTRAINT [FK_CUENTA_CLIENTE] FOREIGN KEY([ID_CLI])
REFERENCES [dbo].[CLIENTE] ([ID_CLI])
GO
ALTER TABLE [dbo].[CUENTA] CHECK CONSTRAINT [FK_CUENTA_CLIENTE]
GO
ALTER TABLE [dbo].[CUENTA]  WITH CHECK ADD  CONSTRAINT [FK_CUENTA_TIPO_CUENTA] FOREIGN KEY([ID_TCU])
REFERENCES [dbo].[TIPO_CUENTA] ([ID_TCU])
GO
ALTER TABLE [dbo].[CUENTA] CHECK CONSTRAINT [FK_CUENTA_TIPO_CUENTA]
GO
ALTER TABLE [dbo].[MOVIMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_MOVIMIENTO_CUENTA] FOREIGN KEY([ID_CUE])
REFERENCES [dbo].[CUENTA] ([ID_CUE])
GO
ALTER TABLE [dbo].[MOVIMIENTO] CHECK CONSTRAINT [FK_MOVIMIENTO_CUENTA]
GO
ALTER TABLE [dbo].[MOVIMIENTO]  WITH CHECK ADD  CONSTRAINT [FK_MOVIMIENTO_TIPO_MOVIMIENTO] FOREIGN KEY([ID_TMO])
REFERENCES [dbo].[TIPO_MOVIMIENTO] ([ID_TMO])
GO
ALTER TABLE [dbo].[MOVIMIENTO] CHECK CONSTRAINT [FK_MOVIMIENTO_TIPO_MOVIMIENTO]
GO
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [FK_PERSONA_GENERO] FOREIGN KEY([ID_GEN])
REFERENCES [dbo].[GENERO] ([ID_GEN])
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [FK_PERSONA_GENERO]
GO
